<html>

<head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!---- <script type="text/javascript" src="/javascripts/ball.js"></script> -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/draggu.css">

    
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://code.jquery.com/ui/1.8.24/themes/blitzer/jquery-ui.css" rel="stylesheet"
type="text/css" />
<script type="text/javascript" src="/javascripts/drag.js"></script>


</head>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">FIFA &#9917</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/topperformer">Top Performers</a></li>
            <li><a href="/buyticket">Tickets</a></li>
            <li><a href="/standings">Rankings</a></li>
            <li class="active"><a href="/dragger">Dream Team</a></li>
            <li><a href="/teams">Teams</a></li> 
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>  <b> <%= name %></b></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container">
   <h3>Top Players Catalogue:</h3>

<div id="dvSource">
    <img alt="" src="images/bale.jpg" />
    <img alt="" src="images/harry.jpg" />
    <img alt="" src="images/ibrahm.jpg" />
    <img alt="" src="images/messi.jpg" />
    <img alt="" src="images/neymar.jpg" />
    <img alt="" src="images/pogba.jpg" />
    <img alt="" src="images/ronaldo.jpg" />
    <img alt="" src="images/serg.jpg" />
    <img alt="" src="images/wayne.jpg" />

    <img alt="" src="images/didi.jpg" />
    <img alt="" src="images/kevin.jpg" />
    <img alt="" src="images/sunil.jpg" />
    <img alt="" src="images/ant.jpg" />
    <img alt="" src="images/luis.jpg" />
    <img alt="" src="images/david.jpg" />
    <img alt="" src="images/beck.jpg" />
    <img alt="" src="images/diego.jpg" />
    <img alt="" src="images/bai.jpg" />
</div>
<hr />
<h3>Create Your Dream Team</h3>
<div id="dvDest">
    Create Team here
</div>

</div>


</body>

</html>