<html>

<head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">




</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">FIFA &#9917 </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/topperformer">Top Performers</a></li>
            <li><a href="/buyticket">Tickets</a></li>
            <li><a href="/standings">Rankings</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">


    <div class="row top-margin">


        <div class="down">
            <div class="col-md-4">
                <div class="tab">
                    <a href="/topperformer">
                        <div class="inner_tab">

                            <p>Top Performers &#128694</p>

                        </div>
                    </a>
                </div>


            </div>
            <div class="col-md-4">
                <div class="tab">
                    <a href="/buyticket">
                        <div class="inner_tab">

                            <p>Buy Tickets &#127915</p>

                        </div>
                    </a>
                </div>

            </div>
            <div class="col-md-4">
                <div class="tab">
                    <a href="/standings">
                        <div class="inner_tab">

                            <p>Rankings &#128202</p>

                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>




</body>

</html>