<html>

<head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/player.css">
    <!---- <script type="text/javascript" src="/javascripts/ball.js"></script> -->


</head>

<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">FIFA &#9917</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/topperformer">Top Performers</a></li>
            <li><a href="/buyticket">Tickets</a></li>
            <li><a href="/standings">Rankings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>  <b> <%= name %></b></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<!--
<div id="animate">
<body onload = "init()">
    <canvas id = "canvas"
            height = "110"
            width = "1600">
        <p>Canvas not supported!</p>
    </canvas>
    </div>
    -->
<div class="container">
    <div class="row top_performers">
        <h2>Top Performers</h2>
        <div class="col-md-4">

            <img src="images/messi.jpg" height="250px" width="100%" />
			<img src="images/fcb.png" class="img-top" height="250px" width="100%" />
            <h4>Messi - 50 Goals</h4>
            <h4>Fc Barcelona</h4>
        </div>
        <div class="col-md-4">
            <img src="images/pogba.jpg" height="250px" width="100%" />
			<img src="images/mu.png" class="img-top" height="250px" width="100%" />
            <h4>Pogba - 30 Goals</h4>
            <h4>Manchester United</h4>
        </div>
        <div class="col-md-4">

            <img src="images/neymar.jpg" height="250px" width="100%" />
			<img src="images/psg.png" class="img-top" height="250px" width="100%" />
            <h4>Neymar - 25 Goals</h4>
            <h4>Paris St Germain</h4>
        </div>



    </div>

    <div class="row Top_assist">
        <h2>Top Assisters</h2>
        <div class="col-md-4">
            <img src="images/gb.jpg" height="250px" width="100%" />
			<img src="images/rm.png" class="img-top" height="250px" width="100%" />
            <h4>Bale - 5 Assists</h4>
            <h4>Real Madrid</h4>

        </div>
        <div class="col-md-4">

            <img src="images/ibrahm.jpg" height="250px" width="100%" />
            <img src="images/la.png" class="img-top" height="250px" width="100%" />
			<h4>Ibrahimovic - 3 Assists</h4>
            <h4>LA Galaxy</h4>
        </div>
        <div class="col-md-4">
            <img src="images/ronaldo.jpg" height="250px" width="100%" />
			<img src="images/ju.png" class="img-top" height="250px" width="100%" />
            <h4>Ronaldo - 2 Assists</h4>
            <h4>Juventus</h4>

        </div>



    </div>
</div>


</body>

</html>